.memberContainer {
  width: 530px;
  border: 3px solid black;
  float: left;
  display: block;
  margin: 5%;
  margin-top: 1%;
  border-radius: 15px;
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
  height: 450px;
}

.submitbutton {
  margin-top: 5px;
  width: 140px;
  height: 40px;
  margin-bottom: 30px;
  margin-right: 50px;
  font-size: large;
  font-weight: 600;
  border-radius: 6px;
}
.resetBtn {
  margin-top: 5px;
  width: 140px;
  height: 40px;
  margin-bottom: 30px;
  margin-right: 50px;
  font-size: large;
  font-weight: 600;
  border-radius: 6px;
}
.updttButton {
  margin-top: 5px;
  width: 140px;
  height: 40px;
  margin-bottom: 30px;
  margin-right: 40px;
  font-size: large;
  font-weight: 600;
  border-radius: 6px;
  display: inline-block;
}
.dlttButton {
  margin-top: 5px;
  width: 140px;
  height: 40px;
  margin-bottom: 30px;
  font-size: large;
  font-weight: 600;
  border-radius: 6px;
  background-color: red;
  border-color: red;
  display: inline-block;
}
.dlttButton:hover {
  background-color: lightcoral;
  border-color: lightcoral;
}
.dlttButton::selection {
  background-color: red;
  border-color: red;
}

.groupContainer {
  margin-left: 9%;
}
.memberContainer .ant-form-item-label {
  margin-right: 10px;
  margin-left: 10px;
  align-items: left;
}
.memberContainer .ant-input {
  width: 250px;
  border-radius: 6px;
  margin-top: 5px;
}
.note {
  color: red;
}
.docImage {
  height: 50px;
  width: 50px;
  margin-left: 50%;
  display: flex;
}
.uploadButton {
  margin-top: 5px;
  width: 90px;
  height: 36px;
  margin-bottom: 30px;
  margin-right: 5px;
  font-size: medium;
  font-weight: 600;
  border-radius: 6px;
  background-color: #1890ff;
  border-color: #1890ff;
  color: white;
  display: inline-block;
}
.resetBtn2 {
  margin-top: 5px;
  width: 90px;
  height: 36px;
  margin-bottom: 30px;
  font-size: medium;
  font-weight: 600;
  border-radius: 6px;
}
.cardView {
  display: flex;
  flex-direction: column;
  justify-content: start;
}
.doc {
  margin-right: 35%;
}
.submission-container {
  width: 45%;
  border: 4px solid black;
  float: right;
  display: block;
  margin-right: 3%;
  margin-top: 5%;
  border-radius: 20px;
}
.uploadImg {
  display: block;
  margin-left: 2%;
  margin-top: 10%;
  margin-right: 5px;
  width: 45%;
  height: 580px;
  border-radius: 20px;
  float: left;
}
.groupImg {
  width: 100px;
  height: 100px;
  display: inline-block;
  margin-right: 3%;
}
.heading {
  display: inline-block;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #00359e;
  text-shadow: 2px 2px 15px gray;
}
.memberImg {
  width: 40px;
  height: 28px;
  display: inline-block;
  margin-bottom: 10px;
}
.memberHeading {
  display: inline-block;
  margin-left: 10px;
}
.topicContainer {
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
  height: 400px;
  width: 45%;
  border: 4px solid black;
  float: right;
  display: block;
  margin-right: 3%;
  margin-top: 6%;
  border-radius: 20px;
}
.topicImg {
  display: block;
  margin-left: 2%;
  margin-top: 5%;
  margin-right: 5px;
  width: 45%;
  height: 58%;
  border-radius: 20px;
  float: left;
}
