.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 10vh;
    background: #3a454b;
    color: #fff;
}
.pages{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 70%;
    font-weight: 700;
    align-items: center;
    font-size: 18px;
}
.logo{
    width: 180px;
    height: 100px;
}
